	<div class="bottombar">
		<div class="btm-info">
			<div>
			Websites in the INFO SOOSAGE™ network: 
			<a href="#"><i>MySoosage</i></a>
			<a href="#"><i>InterSoosage</i></a>
			<a href="#"><i>SHOOFLE</i></a>
			<a href="#"><i>[NEWLY ACQUIRED]ALEPH Arcade</i></a>
			</div>
		</div>
		<div class="btm-options">
			<ul style="margin-top: -30px;">
				<li class = "btm-options-ul"><a href="#home">About Us</a></li>
				<li class = "btm-options-ul"><a href="#home">Terms of Service</a></li>
				<li class = "btm-options-ul"><a href="#home">Jobs</a></li>
				<li class = "btm-options-ul"><a href="#home">InfoSoosage™ Adverts!</a></li>
				<li class = "btm-options-ul"><a href="#home">Help</a></li>
			</ul>
			<p style="text-align: right;margin-top: -40px;">Copyright 2005 © InfoSoosage™ Incorporated. All Rights Reserved.</p>

		</div>
	</div>