<div class="topbar">
		
		<img style="float:left; "src="res/headerimg.png">
		<div class="search-bar">
			<img src="res/bgbox.png">
			<p>Search:</p>
			<form action="https://www.google.com/search" method="get">
			  <input class="search-bar-bar" type="text" id="query" name="q" placeholder="Input your search here!" required>
			  <input class = "search-bar-confirm"type="submit" value="Scour the Web!">
			</form>
			<desc2>><u>Tip:</u> Check your spelling? Good spelling means better searches.<br>><u>Tip:</u>The more specific, the better.</desc2>
			<img class="poweredby-img"src="res/icons/poweredby.png">
			<img style="max-width: 40px;max-height: 40px;margin-left: -40px;" src="res/icons/searching.png">

		</div>
	</div>
		<div class="topbar-topmenu">
			<ul>
				<li class="navbar-hor-override" id="navbar-horizontal"><a>INFO SOOSAGE NETWORK:</a></li>
				<li id = "navbar-horizontal"><a href="under-construction.html">Cinema</a></li>
				<li id = "navbar-horizontal"><a href="#news">News</a></li>
				<li id = "navbar-horizontal"><a href="#contact">Entertainment</a></li>
				<li id = "navbar-horizontal"><a href="#about">Music</a></li>
				<li id = "navbar-horizontal"><a href="#about">Photos</a></li>
				<li id = "navbar-horizontal"><a href="#about">Blogs</a></li>
				<li id = "navbar-horizontal"><a href="#about">Videogames</a></li>
				<li id = "navbar-horizontal"><a href="#about">Ringtones</a></li>

			</ul>
		</div>